<p>
  demo works!
</p>

<div class="container">
  <section class="section">

    <bu-combo-box>
      <input type="text" placeholder="suche" class="input">
    </bu-combo-box>

    <p (click)="modal.triggerOpen()">trigger modal</p>

    <bu-modal #modal>
      <div class="modal-content">
        <p class="image is-4by3">
          <img src="http://bulma.io/images/placeholders/1280x960.png">
        </p>
      </div>
    </bu-modal>

    <p (click)="modalCard.triggerOpen()">trigger modal card</p>

    <bu-modal #modalCard>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button (click)="modalCard.triggerClose()" class="delete"></button>
        </header>
        <section class="modal-card-body">
          <!-- Content ... -->
        </section>
        <footer class="modal-card-foot">
          <a class="button is-success">Save changes</a>
          <a class="button">Cancel</a>
        </footer>
      </div>
    </bu-modal>
  </section>

  <bu-field [isLoading]="true" label="test">
    <input class="input" type="text">
  </bu-field>

  <div class="field">
    <p class="control">
      <input class="input" type="text" placeholder="Disabled input" disabled>
    </p>
  </div>
  <div class="field is-grouped">
    <p class="control">
      <button class="button is-primary" disabled>Submit</button>
    </p>
    <p class="control">
      <button class="button" disabled>Cancel</button>
    </p>
  </div>

</div>
